body{


background-image: url('https://tipsmake.com/data/images/100-most-beautiful-background-picture-89-bf1tzYcZ9.jpg');


}



h1{

color: green;
text-align: center;

}

h2{

    color: red;

    text-align: center;
    

}

h3 {

color: royalblue;

text-align: center;

}